@use '../base/variables' as v;

.saldo {
    text-align: center;
    font-size: 4rem;
    font-weight: v.$bold;

    &.enrojo {
        color: v.$rojo;
    }
    &.estable {
        color: v.$principal;
    }
}